In [204]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import dask.dataframe as dd
import streamlit as st
import numpy as np

In [205]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [206]:
diag_cml_lab = pd.read_csv(r'C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\diag_cml_lab.csv')
diag_cml_lab = diag_cml_lab.drop('Unnamed: 0', axis = 1)
diag_cml_lab

,subject_id,hadm_id_x,cml_date,cvd_date,other,has_future_other,has_immediate_other,has_other,has_other_before_cml,duration_cvd,hadm_id_y,label,valuenum,valueuom
0,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,27998273,Absolute Neutrophil Count,1.85,K/uL
1,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,28743978,Absolute Basophil Count,0.00,K/uL
2,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,29368887,Absolute Eosinophil Count,0.00,K/uL
3,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,27998273,Bands,0.00,%
4,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,25499227,Bands,0.00,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567747,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,Lactate Dehydrogenase (LD),218.00,IU/L
1567748,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,Lymphocytes,53.00,%
1567749,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,Lymphocytes,34.00,%
1567750,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,Monocytes,6.00,%
1567751,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,Platelet Count,114.00,K/uL

In [207]:
lab_columns = ['Platelet Count', 'Red Blood Cells', 'Urea Nitrogen','Monocytes',

       'Alanine Aminotransferase (ALT)', 'Basophils', 'Eosinophils',

       'Bilirubin, Total', 'Albumin', 'Lactate Dehydrogenase (LD)',

       'Metamyelocytes', 'Atypical Lymphocytes',

        'Blasts','Promyelocytes','Cholesterol, Total', 'NTproBNP',

        '% Hemoglobin A1c', 'Glucose','C-Reactive Protein']

lab_columns_lower = [col.lower() for col in lab_columns]

In [208]:
diag_cml_lab['label'] = diag_cml_lab['label'].str.lower()

diag_cml_lab = diag_cml_lab[diag_cml_lab['label'].isin(lab_columns_lower)]

diag_cml_lab = diag_cml_lab.drop(columns=['hadm_id', 'valueuom'], errors='ignore')

lab_pivot = diag_cml_lab.pivot_table(
    index='subject_id',
    columns='label',
    values='valuenum',
    aggfunc='mean'  # or 'median', or 'first'
).reset_index()

lab_pivot.columns.name = None  # remove multi-index column name

In [209]:
diag_cml_lab

,subject_id,hadm_id_x,cml_date,cvd_date,other,has_future_other,has_immediate_other,has_other,has_other_before_cml,duration_cvd,hadm_id_y,label,valuenum
7,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,27998273,atypical lymphocytes,1.0
8,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,27998273,metamyelocytes,0.0
11,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,25499227,atypical lymphocytes,2.0
19,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,25499227,atypical lymphocytes,0.0
20,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,23083980,atypical lymphocytes,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567737,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,lactate dehydrogenase (ld),248.0
1567742,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,alanine aminotransferase (alt),17.0
1567747,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,lactate dehydrogenase (ld),218.0
1567750,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,monocytes,6.0
1567751,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,platelet count,114.0

In [210]:
lab_items = diag_cml_lab['label'].unique()


lab_table_extend = diag_cml_lab.copy()


data_patient_lab = pd.DataFrame()
data_patient_lab['subject_id'] = diag_cml_lab['subject_id'].unique()


for test in lab_items:
    lab_table_extend[test] = np.where(
        lab_table_extend['label'] == test,
        lab_table_extend['valuenum'],
        np.nan
    )
    
    lab_table_extend[test] = pd.to_numeric(lab_table_extend[test])

    test_avg = lab_table_extend.groupby('subject_id')[test].mean().reset_index()
    data_patient_lab = data_patient_lab.merge(test_avg, on='subject_id', how='left')

In [211]:
data_patient_lab

,subject_id,atypical lymphocytes,metamyelocytes,blasts,alanine aminotransferase (alt),albumin,basophils,"bilirubin, total",eosinophils,glucose,lactate dehydrogenase (ld),monocytes,platelet count,red blood cells,urea nitrogen,promyelocytes,"cholesterol, total",c-reactive protein,ntprobnp,% hemoglobin a1c
0,10010231,1.083333,2.904762,21.000000,55.454545,3.796667,0.372727,0.464706,0.493333,127.666667,197.123288,20.188333,122.783133,2.558810,11.325581,NaN,NaN,NaN,NaN,NaN
1,10026643,2.500000,6.555556,3.833333,10.375000,3.662500,1.500000,0.340000,0.800000,105.866667,1008.300000,3.750000,330.615385,3.335000,17.000000,2.750000,NaN,NaN,NaN,NaN
2,10035618,1.500000,0.500000,10.166667,50.793103,3.066667,0.000000,1.438889,1.666667,127.538462,240.354839,2.550000,24.620690,2.196129,19.764706,NaN,NaN,NaN,NaN,NaN
3,10035631,1.650000,3.416667,27.447368,52.398058,3.328125,0.728000,0.828000,5.640385,139.333333,1534.135338,11.592308,138.093750,2.908594,35.261364,4.555556,99.0,139.300,NaN,NaN
4,10070928,2.847826,0.965517,4.060606,52.903226,2.969565,0.260870,0.375000,2.530612,103.935484,172.360000,24.696429,59.787879,2.816154,29.144737,2.500000,NaN,125.275,772.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,19924241,0.000000,0.000000,59.000000,859.500000,NaN,0.000000,1.300000,1.000000,127.250000,2218.000000,4.000000,51.666667,2.520000,59.000000,NaN,NaN,NaN,NaN,NaN
936,19940147,2.108108,4.505618,21.045455,75.728324,3.019565,11.374138,0.975294,4.385333,125.929461,364.674107,8.889362,85.599251,2.887252,36.115854,1.500000,223.8,9.300,31804.333333,5.60
937,19944328,1.727273,1.842105,40.707692,43.858491,3.324138,1.246154,1.205882,7.804545,200.361290,499.426752,11.617568,61.485714,2.750676,22.945055,1.400000,85.0,NaN,NaN,9.05
938,19997367,0.000000,0.000000,NaN,21.540541,3.766667,0.220000,1.942105,1.584615,128.238806,305.136364,5.316667,120.150000,3.570476,37.000000,NaN,NaN,NaN,3945.400000,6.70
939,19998562,2.750000,1.666667,3.666667,20.250000,3.100000,0.500000,0.350000,0.500000,98.800000,240.000000,10.200000,117.166667,2.700000,24.750000,NaN,NaN,NaN,NaN,NaN

In [212]:
patient_info = diag_cml_lab.drop_duplicates(subset='subject_id')

In [213]:
full_lab = patient_info.merge(data_patient_lab, on='subject_id', how='left')

In [214]:
full_lab

,subject_id,hadm_id_x,cml_date,cvd_date,other,has_future_other,has_immediate_other,has_other,has_other_before_cml,duration_cvd,hadm_id_y,label,valuenum,atypical lymphocytes,metamyelocytes,blasts,alanine aminotransferase (alt),albumin,basophils,"bilirubin, total",eosinophils,glucose,lactate dehydrogenase (ld),monocytes,platelet count,red blood cells,urea nitrogen,promyelocytes,"cholesterol, total",c-reactive protein,ntprobnp,% hemoglobin a1c
0,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,27998273,atypical lymphocytes,1.0,1.083333,2.904762,21.000000,55.454545,3.796667,0.372727,0.464706,0.493333,127.666667,197.123288,20.188333,122.783133,2.558810,11.325581,NaN,NaN,NaN,NaN,NaN
1,10026643,27759132,2187-05-24 20:56:00,NaN,NaN,0,0,0,0,NaN,27759132,metamyelocytes,3.0,2.500000,6.555556,3.833333,10.375000,3.662500,1.500000,0.340000,0.800000,105.866667,1008.300000,3.750000,330.615385,3.335000,17.000000,2.750000,NaN,NaN,NaN,NaN
2,10035618,20566812,2153-10-29 20:16:00,NaN,NaN,0,0,0,0,NaN,20566812,metamyelocytes,0.0,1.500000,0.500000,10.166667,50.793103,3.066667,0.000000,1.438889,1.666667,127.538462,240.354839,2.550000,24.620690,2.196129,19.764706,NaN,NaN,NaN,NaN,NaN
3,10035631,29462354,2112-09-17 19:13:00,NaN,NaN,0,0,0,0,NaN,22732862,metamyelocytes,1.0,1.650000,3.416667,27.447368,52.398058,3.328125,0.728000,0.828000,5.640385,139.333333,1534.135338,11.592308,138.093750,2.908594,35.261364,4.555556,99.0,139.300,NaN,NaN
4,10070928,26961908,2186-04-06 10:57:00,2186-04-06 10:57:00,1.0,0,1,1,0,0.000000,20297201,atypical lymphocytes,0.0,2.847826,0.965517,4.060606,52.903226,2.969565,0.260870,0.375000,2.530612,103.935484,172.360000,24.696429,59.787879,2.816154,29.144737,2.500000,NaN,125.275,772.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,19924241,28463240,2132-06-06 18:58:00,NaN,NaN,0,0,0,0,NaN,28463240,blasts,59.0,0.000000,0.000000,59.000000,859.500000,NaN,0.000000,1.300000,1.000000,127.250000,2218.000000,4.000000,51.666667,2.520000,59.000000,NaN,NaN,NaN,NaN,NaN
936,19940147,25746576,2126-04-12 18:17:00,2129-11-30 19:16:00,1.0,1,0,1,0,43.626807,23739599,atypical lymphocytes,0.0,2.108108,4.505618,21.045455,75.728324,3.019565,11.374138,0.975294,4.385333,125.929461,364.674107,8.889362,85.599251,2.887252,36.115854,1.500000,223.8,9.300,31804.333333,5.60
937,19944328,23228028,2181-04-01 13:08:00,2181-04-01 13:08:00,1.0,0,1,1,0,0.000000,27752274,metamyelocytes,2.0,1.727273,1.842105,40.707692,43.858491,3.324138,1.246154,1.205882,7.804545,200.361290,499.426752,11.617568,61.485714,2.750676,22.945055,1.400000,85.0,NaN,NaN,9.05
938,19997367,23087270,2126-01-31 16:26:00,2126-01-31 16:26:00,1.0,0,1,1,0,0.000000,20617667,atypical lymphocytes,0.0,0.000000,0.000000,NaN,21.540541,3.766667,0.220000,1.942105,1.584615,128.238806,305.136364,5.316667,120.150000,3.570476,37.000000,NaN,NaN,NaN,3945.400000,6.70
939,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,glucose,95.0,2.750000,1.666667,3.666667,20.250000,3.100000,0.500000,0.350000,0.500000,98.800000,240.000000,10.200000,117.166667,2.700000,24.750000,NaN,NaN,NaN,NaN,NaN

In [215]:
doses = pd.read_csv(r'C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\drug_doses.csv')
doses

       subject_id         drug  dose_val_rx dose_unit_rx
0        10019003  ruxolitinib          5.0           mg
1        10019003  ruxolitinib          5.0           mg
2        10019003  ruxolitinib          5.0           mg
3        10019003  ruxolitinib          5.0           mg
4        10019003  ruxolitinib          5.0           mg
...           ...          ...          ...          ...
21153    19940147    nilotinib        150.0           mg
21154    19940147    nilotinib        300.0           mg
21155    19940147    nilotinib        400.0           mg
21156    19940147    nilotinib        150.0           mg
21157    19940147    nilotinib        150.0           mg

[21158 rows x 4 columns]

In [216]:
pharm = pd.read_csv(r'C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\pharm.csv')
pharm = pharm.drop(columns= ['Unnamed: 0', 'frequency'], axis = 1)
pharm

,subject_id,hadm_id,cml_date,cvd_date,other,has_future_other,has_immediate_other,has_other,has_other_before_cml,duration_cvd,doses_per_24_hrs,duration_med,duration_interval,prescribed_dose,Cabozantinib,Crizotinib,Dasatinib,Imatinib,Nilotinib,Ruxolitinib
0,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,1,NaN,Ongoing,NaN,False,False,False,False,False,False
1,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,1,1.0,Doses,NaN,False,False,False,False,False,False
2,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,2,NaN,Ongoing,NaN,False,False,False,False,False,False
3,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,0,NaN,Ongoing,NaN,False,False,False,False,False,False
4,10010231,25499227,2117-11-08 20:21:00,NaN,NaN,0,0,0,0,NaN,1,1.0,Doses,NaN,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25149,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,1,5.0,Doses,NaN,False,False,False,False,False,False
25150,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,1,5.0,Days,NaN,False,False,False,False,False,False
25151,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,3,NaN,Ongoing,NaN,False,False,False,False,False,False
25152,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,2,NaN,Ongoing,NaN,False,False,False,False,False,False
25153,19998562,25909426,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,1,NaN,Ongoing,NaN,False,False,False,False,False,False

In [217]:
pharm_aggregated = pharm.groupby('subject_id').agg({
    'doses_per_24_hrs': 'mean',
    'duration_med': 'mean',
    'prescribed_dose': 'mean',
    'Cabozantinib': 'sum',
    'Crizotinib': 'sum',
    'Dasatinib': 'sum',
    'Imatinib': 'sum',
    'Nilotinib': 'sum',
    'Ruxolitinib': 'sum',
    'cml_date': 'first',
    'cvd_date': 'first',
    'other': 'max',
    'has_future_other': 'max',
    'has_immediate_other': 'max',
    'has_other': 'max',
    'has_other_before_cml': 'max',
    'duration_cvd': 'mean'
}).reset_index()

In [218]:
diag_total = pharm_aggregated.merge(full_lab.drop(columns=full_lab.columns.intersection(pharm.columns).difference(['subject_id'])), on='subject_id')

In [219]:
diag_total

,subject_id,doses_per_24_hrs,duration_med,prescribed_dose,Cabozantinib,Crizotinib,Dasatinib,Imatinib,Nilotinib,Ruxolitinib,cml_date,cvd_date,other,has_future_other,has_immediate_other,has_other,has_other_before_cml,duration_cvd,hadm_id_x,hadm_id_y,label,valuenum,atypical lymphocytes,metamyelocytes,blasts,alanine aminotransferase (alt),albumin,basophils,"bilirubin, total",eosinophils,glucose,lactate dehydrogenase (ld),monocytes,platelet count,red blood cells,urea nitrogen,promyelocytes,"cholesterol, total",c-reactive protein,ntprobnp,% hemoglobin a1c
0,10010231,1.590909,9.090909,NaN,0,0,0,0,0,0,2117-11-08 20:21:00,None,NaN,0,0,0,0,NaN,25499227,27998273,atypical lymphocytes,1.0,1.083333,2.904762,21.000000,55.454545,3.796667,0.372727,0.464706,0.493333,127.666667,197.123288,20.188333,122.783133,2.558810,11.325581,NaN,NaN,NaN,NaN,NaN
1,10026643,1.785714,37.750000,20.000000,0,0,0,0,0,1,2187-05-24 20:56:00,None,NaN,0,0,0,0,NaN,27759132,27759132,metamyelocytes,3.0,2.500000,6.555556,3.833333,10.375000,3.662500,1.500000,0.340000,0.800000,105.866667,1008.300000,3.750000,330.615385,3.335000,17.000000,2.750000,NaN,NaN,NaN,NaN
2,10035618,1.842105,2.909091,NaN,0,0,0,0,0,0,2153-10-29 20:16:00,None,NaN,0,0,0,0,NaN,20566812,20566812,metamyelocytes,0.0,1.500000,0.500000,10.166667,50.793103,3.066667,0.000000,1.438889,1.666667,127.538462,240.354839,2.550000,24.620690,2.196129,19.764706,NaN,NaN,NaN,NaN,NaN
3,10035631,1.613636,12.619048,NaN,0,0,0,0,0,0,2112-09-17 19:13:00,None,NaN,0,0,0,0,NaN,29462354,22732862,metamyelocytes,1.0,1.650000,3.416667,27.447368,52.398058,3.328125,0.728000,0.828000,5.640385,139.333333,1534.135338,11.592308,138.093750,2.908594,35.261364,4.555556,99.0,139.300,NaN,NaN
4,10070928,1.851064,23.464286,NaN,0,0,0,0,0,0,2186-04-06 10:57:00,2186-04-06 10:57:00,1.0,0,1,1,0,0.000000,26961908,20297201,atypical lymphocytes,0.0,2.847826,0.965517,4.060606,52.903226,2.969565,0.260870,0.375000,2.530612,103.935484,172.360000,24.696429,59.787879,2.816154,29.144737,2.500000,NaN,125.275,772.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,19924241,1.083333,18.750000,NaN,0,0,0,0,0,0,2132-06-06 18:58:00,None,NaN,0,0,0,0,NaN,28463240,28463240,blasts,59.0,0.000000,0.000000,59.000000,859.500000,NaN,0.000000,1.300000,1.000000,127.250000,2218.000000,4.000000,51.666667,2.520000,59.000000,NaN,NaN,NaN,NaN,NaN
936,19940147,1.682540,9.531250,283.333333,0,0,0,0,6,0,2126-04-12 18:17:00,2129-11-30 19:16:00,1.0,1,0,1,0,43.626807,25746576,23739599,atypical lymphocytes,0.0,2.108108,4.505618,21.045455,75.728324,3.019565,11.374138,0.975294,4.385333,125.929461,364.674107,8.889362,85.599251,2.887252,36.115854,1.500000,223.8,9.300,31804.333333,5.60
937,19944328,1.735294,8.125000,NaN,0,0,0,0,0,0,2181-04-01 13:08:00,2181-04-01 13:08:00,1.0,0,1,1,0,0.000000,23228028,27752274,metamyelocytes,2.0,1.727273,1.842105,40.707692,43.858491,3.324138,1.246154,1.205882,7.804545,200.361290,499.426752,11.617568,61.485714,2.750676,22.945055,1.400000,85.0,NaN,NaN,9.05
938,19997367,2.052632,27.333333,NaN,0,0,0,0,0,0,2126-01-31 16:26:00,2126-01-31 16:26:00,1.0,0,1,1,0,0.000000,23087270,20617667,atypical lymphocytes,0.0,0.000000,0.000000,NaN,21.540541,3.766667,0.220000,1.942105,1.584615,128.238806,305.136364,5.316667,120.150000,3.570476,37.000000,NaN,NaN,NaN,3945.400000,6.70
939,19998562,1.750000,5.000000,NaN,0,0,0,0,0,0,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,25909426,glucose,95.0,2.750000,1.666667,3.666667,20.250000,3.100000,0.500000,0.350000,0.500000,98.800000,240.000000,10.200000,117.166667,2.700000,24.750000,NaN,NaN,NaN,NaN,NaN

In [220]:
#diag_total = diag_total.drop(columns=['cml_date_y', 'cvd_date_y',
#       'hypertensive_y', 'has_future_hypertensive_y', 'has_immediate_hypertensive_y',
#       'has_hypertensive_y', 'has_hypertensive_before_cml_y', 'duration_cvd_y', 'hadm_id_y', 'hadm_id_x'])
diag_total.reset_index(drop=True)

,subject_id,doses_per_24_hrs,duration_med,prescribed_dose,Cabozantinib,Crizotinib,Dasatinib,Imatinib,Nilotinib,Ruxolitinib,cml_date,cvd_date,other,has_future_other,has_immediate_other,has_other,has_other_before_cml,duration_cvd,hadm_id_x,hadm_id_y,label,valuenum,atypical lymphocytes,metamyelocytes,blasts,alanine aminotransferase (alt),albumin,basophils,"bilirubin, total",eosinophils,glucose,lactate dehydrogenase (ld),monocytes,platelet count,red blood cells,urea nitrogen,promyelocytes,"cholesterol, total",c-reactive protein,ntprobnp,% hemoglobin a1c
0,10010231,1.590909,9.090909,NaN,0,0,0,0,0,0,2117-11-08 20:21:00,None,NaN,0,0,0,0,NaN,25499227,27998273,atypical lymphocytes,1.0,1.083333,2.904762,21.000000,55.454545,3.796667,0.372727,0.464706,0.493333,127.666667,197.123288,20.188333,122.783133,2.558810,11.325581,NaN,NaN,NaN,NaN,NaN
1,10026643,1.785714,37.750000,20.000000,0,0,0,0,0,1,2187-05-24 20:56:00,None,NaN,0,0,0,0,NaN,27759132,27759132,metamyelocytes,3.0,2.500000,6.555556,3.833333,10.375000,3.662500,1.500000,0.340000,0.800000,105.866667,1008.300000,3.750000,330.615385,3.335000,17.000000,2.750000,NaN,NaN,NaN,NaN
2,10035618,1.842105,2.909091,NaN,0,0,0,0,0,0,2153-10-29 20:16:00,None,NaN,0,0,0,0,NaN,20566812,20566812,metamyelocytes,0.0,1.500000,0.500000,10.166667,50.793103,3.066667,0.000000,1.438889,1.666667,127.538462,240.354839,2.550000,24.620690,2.196129,19.764706,NaN,NaN,NaN,NaN,NaN
3,10035631,1.613636,12.619048,NaN,0,0,0,0,0,0,2112-09-17 19:13:00,None,NaN,0,0,0,0,NaN,29462354,22732862,metamyelocytes,1.0,1.650000,3.416667,27.447368,52.398058,3.328125,0.728000,0.828000,5.640385,139.333333,1534.135338,11.592308,138.093750,2.908594,35.261364,4.555556,99.0,139.300,NaN,NaN
4,10070928,1.851064,23.464286,NaN,0,0,0,0,0,0,2186-04-06 10:57:00,2186-04-06 10:57:00,1.0,0,1,1,0,0.000000,26961908,20297201,atypical lymphocytes,0.0,2.847826,0.965517,4.060606,52.903226,2.969565,0.260870,0.375000,2.530612,103.935484,172.360000,24.696429,59.787879,2.816154,29.144737,2.500000,NaN,125.275,772.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,19924241,1.083333,18.750000,NaN,0,0,0,0,0,0,2132-06-06 18:58:00,None,NaN,0,0,0,0,NaN,28463240,28463240,blasts,59.0,0.000000,0.000000,59.000000,859.500000,NaN,0.000000,1.300000,1.000000,127.250000,2218.000000,4.000000,51.666667,2.520000,59.000000,NaN,NaN,NaN,NaN,NaN
936,19940147,1.682540,9.531250,283.333333,0,0,0,0,6,0,2126-04-12 18:17:00,2129-11-30 19:16:00,1.0,1,0,1,0,43.626807,25746576,23739599,atypical lymphocytes,0.0,2.108108,4.505618,21.045455,75.728324,3.019565,11.374138,0.975294,4.385333,125.929461,364.674107,8.889362,85.599251,2.887252,36.115854,1.500000,223.8,9.300,31804.333333,5.60
937,19944328,1.735294,8.125000,NaN,0,0,0,0,0,0,2181-04-01 13:08:00,2181-04-01 13:08:00,1.0,0,1,1,0,0.000000,23228028,27752274,metamyelocytes,2.0,1.727273,1.842105,40.707692,43.858491,3.324138,1.246154,1.205882,7.804545,200.361290,499.426752,11.617568,61.485714,2.750676,22.945055,1.400000,85.0,NaN,NaN,9.05
938,19997367,2.052632,27.333333,NaN,0,0,0,0,0,0,2126-01-31 16:26:00,2126-01-31 16:26:00,1.0,0,1,1,0,0.000000,23087270,20617667,atypical lymphocytes,0.0,0.000000,0.000000,NaN,21.540541,3.766667,0.220000,1.942105,1.584615,128.238806,305.136364,5.316667,120.150000,3.570476,37.000000,NaN,NaN,NaN,3945.400000,6.70
939,19998562,1.750000,5.000000,NaN,0,0,0,0,0,0,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,25909426,25909426,glucose,95.0,2.750000,1.666667,3.666667,20.250000,3.100000,0.500000,0.350000,0.500000,98.800000,240.000000,10.200000,117.166667,2.700000,24.750000,NaN,NaN,NaN,NaN,NaN

In [221]:
#diag_total = diag_total.rename({'cml_date_x': 'cml_date', 'cvd_date_x':'cvd_date', 'hypertensive_x':'hypertensive', 'has_future_hypertensive_x':'has_future_hypertensive', 'has_immediate_hypertensive_x':'has_immediate_hypertensive', 'has_hypertensive_x':'has_hypertensive', 'has_hypertensive_before_cml_x':'has_hypertensive_before_cml', 'duration_cvd_x':'duration_cvd'}, axis = 1)

In [222]:
diag_total = diag_total.drop(columns=['hadm_id_x', 'hadm_id_y'])
diag_total = diag_total.drop_duplicates()
diag_total.shape

(940, 39)

In [223]:
diag_total = diag_total.drop(columns=['label'])

In [224]:
diag_total = diag_total.drop_duplicates()

In [225]:
diag_total.shape

(940, 38)

In [226]:
diag_total = diag_total.reset_index(drop=True)

In [227]:
diag_total.to_csv(r'C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\diag_total.csv')

In [228]:
omr_data = pd.read_csv(r'C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\omr_table.csv')

C:\Users\Yahya\AppData\Local\Temp\ipykernel_32368\1758934463.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  omr_data = pd.read_csv(r'C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\omr_table.csv')

In [229]:
omr_data['result_value'] = omr_data['result_value'].astype(str)

bmi_data = omr_data[omr_data['result_name'].str.lower().isin(['bmi', 'bmi (kg/m2)'])].copy()

bmi_data['result_value'] = pd.to_numeric(bmi_data['result_value'], errors='coerce')

mean_bmi = bmi_data.groupby('subject_id')['result_value'].mean().reset_index(name='mean_bmi')

bp_data = omr_data[omr_data['result_name'].str.lower() == 'blood pressure'].copy()

bp_split = bp_data['result_value'].str.extract(r'(?P<systolic>\d+)[^\d]+(?P<diastolic>\d+)')
bp_split = bp_split.astype(float)
bp_data = bp_data.assign(systolic=bp_split['systolic'], diastolic=bp_split['diastolic'])

mean_bp = bp_data.groupby('subject_id')[['systolic', 'diastolic']].mean().reset_index()
mean_bp.rename(columns={'systolic': 'mean_systolic', 'diastolic': 'mean_diastolic'}, inplace=True)

final_omr = pd.merge(mean_bmi, mean_bp, on='subject_id', how='outer')

In [230]:
diag_final = diag_total.merge(final_omr, on='subject_id')

In [231]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [232]:
diag_final

,subject_id,doses_per_24_hrs,duration_med,prescribed_dose,Cabozantinib,Crizotinib,Dasatinib,Imatinib,Nilotinib,Ruxolitinib,cml_date,cvd_date,other,has_future_other,has_immediate_other,has_other,has_other_before_cml,duration_cvd,valuenum,atypical lymphocytes,metamyelocytes,blasts,alanine aminotransferase (alt),albumin,basophils,"bilirubin, total",eosinophils,glucose,lactate dehydrogenase (ld),monocytes,platelet count,red blood cells,urea nitrogen,promyelocytes,"cholesterol, total",c-reactive protein,ntprobnp,% hemoglobin a1c,mean_bmi,mean_systolic,mean_diastolic
0,10010231,1.590909,9.090909,NaN,0,0,0,0,0,0,2117-11-08 20:21:00,None,NaN,0,0,0,0,NaN,1.0,1.083333,2.904762,21.000000,55.454545,3.796667,0.372727,0.464706,0.493333,127.666667,197.123288,20.188333,122.783133,2.558810,11.325581,NaN,NaN,NaN,NaN,NaN,31.835000,131.184211,80.263158
1,10026643,1.785714,37.750000,20.000000,0,0,0,0,0,1,2187-05-24 20:56:00,None,NaN,0,0,0,0,NaN,3.0,2.500000,6.555556,3.833333,10.375000,3.662500,1.500000,0.340000,0.800000,105.866667,1008.300000,3.750000,330.615385,3.335000,17.000000,2.750000,NaN,NaN,NaN,NaN,39.000000,125.238095,68.857143
2,10035631,1.613636,12.619048,NaN,0,0,0,0,0,0,2112-09-17 19:13:00,None,NaN,0,0,0,0,NaN,1.0,1.650000,3.416667,27.447368,52.398058,3.328125,0.728000,0.828000,5.640385,139.333333,1534.135338,11.592308,138.093750,2.908594,35.261364,4.555556,99.0,139.300,NaN,NaN,24.939130,112.145833,64.989583
3,10070928,1.851064,23.464286,NaN,0,0,0,0,0,0,2186-04-06 10:57:00,2186-04-06 10:57:00,1.0,0,1,1,0,0.000000,0.0,2.847826,0.965517,4.060606,52.903226,2.969565,0.260870,0.375000,2.530612,103.935484,172.360000,24.696429,59.787879,2.816154,29.144737,2.500000,NaN,125.275,772.000000,NaN,NaN,118.700000,55.150000
4,10083304,1.333333,1.000000,400.000000,0,0,0,1,0,0,2154-02-20 13:41:00,None,NaN,0,0,0,0,NaN,121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.400000,NaN,NaN,351.625000,5.211429,11.571429,NaN,126.0,NaN,NaN,7.00,33.788889,141.350000,67.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,19923916,1.782609,8.642857,NaN,0,0,0,0,0,0,2133-04-26 03:04:00,None,NaN,0,0,0,0,NaN,0.0,3.142857,0.909091,24.192500,50.830769,2.954167,2.625000,1.564286,2.656250,106.337662,597.790698,14.661364,20.983333,2.950482,32.307692,1.250000,NaN,NaN,2320.000000,NaN,23.760000,131.400000,60.200000
853,19940147,1.682540,9.531250,283.333333,0,0,0,0,6,0,2126-04-12 18:17:00,2129-11-30 19:16:00,1.0,1,0,1,0,43.626807,0.0,2.108108,4.505618,21.045455,75.728324,3.019565,11.374138,0.975294,4.385333,125.929461,364.674107,8.889362,85.599251,2.887252,36.115854,1.500000,223.8,9.300,31804.333333,5.60,24.407921,131.313043,75.704348
854,19944328,1.735294,8.125000,NaN,0,0,0,0,0,0,2181-04-01 13:08:00,2181-04-01 13:08:00,1.0,0,1,1,0,0.000000,2.0,1.727273,1.842105,40.707692,43.858491,3.324138,1.246154,1.205882,7.804545,200.361290,499.426752,11.617568,61.485714,2.750676,22.945055,1.400000,85.0,NaN,NaN,9.05,27.200000,146.404762,70.761905
855,19997367,2.052632,27.333333,NaN,0,0,0,0,0,0,2126-01-31 16:26:00,2126-01-31 16:26:00,1.0,0,1,1,0,0.000000,0.0,0.000000,0.000000,NaN,21.540541,3.766667,0.220000,1.942105,1.584615,128.238806,305.136364,5.316667,120.150000,3.570476,37.000000,NaN,NaN,NaN,3945.400000,6.70,25.393878,101.169643,54.589286
856,19998562,1.750000,5.000000,NaN,0,0,0,0,0,0,2166-03-21 22:39:00,2166-03-16 14:56:00,1.0,0,0,0,1,-0.197109,95.0,2.750000,1.666667,3.666667,20.250000,3.100000,0.500000,0.350000,0.500000,98.800000,240.000000,10.200000,117.166667,2.700000,24.750000,NaN,NaN,NaN,NaN,NaN,21.642857,129.000000,52.500000

In [233]:
diag_final.to_csv(r'C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\diag_final_other.csv')