In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import dask.dataframe as dd
import streamlit as st

In [101]:
diag = dd.read_csv('C:\\Users\\yahya\\Documents\\GitHub\\Internship\\CSV_files\\diagnoses_table.csv', dtype={"icd_code": "object"})

In [102]:
def detect_icd_version(code):
    code = str(code).strip().upper()
    return 10 if code and code[0].isalpha() else 9

# Apply to your DataFrame
diag['icd_version'] = diag['icd_code'].apply(detect_icd_version)

c:\Users\Yahya\Documents\GitHub\Internship\venv\lib\site-packages\dask\dataframe\core.py:3778: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('icd_code', 'int64'))

  warnings.warn(meta_warning(meta))

In [103]:
diag.head(10)

   subject_id   hadm_id icd_code  icd_version
0    10000032  29079034    45829            9
1    10000032  29079034    07044            9
2    10000032  29079034     7994            9
3    10000032  29079034     2761            9
4    10000032  29079034    78959            9
5    10000032  29079034     2767            9
6    10000032  29079034     3051            9
7    10000032  29079034      V08           10
8    10000032  29079034    V4986           10
9    10000032  29079034     V462           10

In [104]:
adm = dd.read_csv('C:\\Users\\Yahya\\Documents\\GitHub\\Internship\\CSV_files\\admissions_table.csv')

In [105]:
adm.head(10)

   subject_id   hadm_id            admittime            dischtime
0    10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00
1    10000117  22927623  2181-11-15 02:05:00  2181-11-15 14:52:00
2    10000117  27988844  2183-09-18 18:10:00  2183-09-21 16:30:00
3    10000635  20642640  2143-12-23 14:55:00  2143-12-24 12:52:00
4    10000635  26134563  2136-06-19 14:24:00  2136-06-20 11:30:00
5    10000690  23280645  2150-09-16 19:48:00  2150-09-24 13:50:00
6    10000690  25860671  2150-11-02 18:02:00  2150-11-12 13:45:00
7    10000690  26146595  2152-01-28 23:40:00  2152-01-30 15:56:00
8    10000690  26504700  2150-07-03 02:46:00  2150-07-07 15:42:00
9    10000764  27897940  2132-10-14 23:31:00  2132-10-19 16:30:00

In [71]:
diag_df = diag.merge(adm, on=['subject_id', 'hadm_id'])
diag_df = diag_df.sort_values(by="subject_id")

In [72]:
diag_df = diag_df.reset_index(drop=True)

In [73]:
diag_df.head(25)

,subject_id,hadm_id,icd_code,icd_version,admittime,dischtime
0,10000032,29079034,45829,9,2180-07-23 12:35:00,2180-07-25 17:55:00
1,10000032,29079034,5715,9,2180-07-23 12:35:00,2180-07-25 17:55:00
2,10000032,29079034,496,9,2180-07-23 12:35:00,2180-07-25 17:55:00
3,10000032,29079034,V462,10,2180-07-23 12:35:00,2180-07-25 17:55:00
4,10000032,29079034,V4986,10,2180-07-23 12:35:00,2180-07-25 17:55:00
5,10000032,29079034,V08,10,2180-07-23 12:35:00,2180-07-25 17:55:00
6,10000032,29079034,29680,9,2180-07-23 12:35:00,2180-07-25 17:55:00
7,10000032,29079034,2767,9,2180-07-23 12:35:00,2180-07-25 17:55:00
8,10000032,29079034,78959,9,2180-07-23 12:35:00,2180-07-25 17:55:00
9,10000032,29079034,2761,9,2180-07-23 12:35:00,2180-07-25 17:55:00
10,10000032,29079034,7994,9,2180-07-23 12:35:00,2180-07-25 17:55:00
11,10000032,29079034,07044,9,2180-07-23 12:35:00,2180-07-25 17:55:00
12,10000032,29079034,3051,9,2180-07-23 12:35:00,2180-07-25 17:55:00
13,10000117,27988844,K219,10,2183-09-18 18:10:00,2183-09-21 16:30:00
14,10000117,27988844,E7800,10,2183-09-18 18:10:00,2183-09-21 16:30:00
15,10000117,27988844,I341,10,2183-09-18 18:10:00,2183-09-21 16:30:00
16,10000117,27988844,G43909,10,2183-09-18 18:10:00,2183-09-21 16:30:00
17,10000117,27988844,F419,10,2183-09-18 18:10:00,2183-09-21 16:30:00
18,10000117,27988844,Z87442,10,2183-09-18 18:10:00,2183-09-21 16:30:00
19,10000117,27988844,M810,10,2183-09-18 18:10:00,2183-09-21 16:30:00
20,10000117,27988844,Z7901,10,2183-09-18 18:10:00,2183-09-21 16:30:00
21,10000117,27988844,Y92480,10,2183-09-18 18:10:00,2183-09-21 16:30:00
22,10000117,27988844,Z87891,10,2183-09-18 18:10:00,2183-09-21 16:30:00
23,10000117,27988844,Y93K1,10,2183-09-18 18:10:00,2183-09-21 16:30:00
24,10000117,22927623,M810,10,2181-11-15 02:05:00,2181-11-15 14:52:00

In [74]:
nrows, ncols = diag_df.shape[0].compute(), len(diag_df.columns)

print(f"Shape: ({nrows}, {ncols})")

Shape: (5071195, 6)

In [106]:
icd9 = diag[diag['icd_code'].str.match(r'^\d')]
filtered_icd9 = icd9[(icd9['icd_code'].astype(float) >= 20500) & (icd9['icd_code'].astype(float) <= 20592)]
filtered_icd9.compute().head(25)

       subject_id   hadm_id icd_code  icd_version
18942    10035631  20385771    20500            9
18992    10035631  22732862    20500            9
18999    10035631  24912093    20501            9
19006    10035631  27496788    20500            9
19053    10035631  29462354    20500            9
19074    10035631  29654498    20500            9
34968    10070928  20163692    20500            9
34989    10070928  20297201    20500            9
34997    10070928  20721218    20500            9
35010    10070928  22119100    20500            9
35026    10070928  22640272    20500            9
35033    10070928  22806066    20500            9
35044    10070928  23763667    20500            9
35057    10070928  24252929    20500            9
35069    10070928  24657178    20500            9
35092    10070928  24884243    20500            9
35106    10070928  25823358    20500            9
35117    10070928  26073385    20500            9
35126    10070928  26097027    20500            9
35137    10070928  26610133    20500            9
35149    10070928  26639920    20500            9
35162    10070928  26961908    20500            9
35173    10070928  28254280    20500            9
35187    10070928  28960799    20500            9
35206    10070928  29299902    20500            9

In [76]:
nrows, ncols = filtered_icd9.shape[0].compute(), len(filtered_icd9.columns)

print(f"Shape: ({nrows}, {ncols})")

Shape: (1865, 4)

In [107]:
icd10 = diag[diag['icd_code'].str.match(r'^[A-Z]')]
filtered_icd10 = icd10[icd10['icd_code'].str.startswith('C92')]
filtered_icd10.compute().head(25)

       subject_id   hadm_id icd_code  icd_version
5451     10010231  20687038    C92Z0           10
5458     10010231  21586397    C9200           10
5460     10010231  23083980    C9200           10
5466     10010231  23835132    C92Z0           10
5472     10010231  24995642    C92Z0           10
5477     10010231  25499227    C9200           10
5494     10010231  27998273    C92Z1           10
5504     10010231  28743978    C9200           10
5511     10010231  29368887    C9200           10
14294    10026643  27759132    C9210           10
18919    10035618  20566812    C9200           10
18960    10035631  21476294    C92Z2           10
18985    10035631  21599196    C9202           10
19038    10035631  29276678    C92Z0           10
40596    10083304  22503786    C9210           10
40606    10083304  23698883    C9210           10
40623    10083304  25659760    C9210           10
40663    10083304  27942885    C9210           10
41348    10087092  21411023    C9210           10
47382    10101615  20902460    C9202           10
47400    10101615  21328249    C9200           10
47411    10101615  22409075    C9202           10
47428    10101615  25618014    C9202           10
47447    10101615  26750486    C9200           10
47489    10101615  29149491    C9202           10

In [78]:
nrows, ncols = filtered_icd10.shape[0].compute(), len(filtered_icd10.columns)

print(f"Shape: ({nrows}, {ncols})")

Shape: (2134, 4)

In [108]:
diag_cml = dd.concat([filtered_icd9, filtered_icd10])
diag_cml = diag_cml.reset_index(drop=True)
diag_cml.compute().head(25)

    subject_id   hadm_id icd_code  icd_version
0     10035631  20385771    20500            9
1     10035631  22732862    20500            9
2     10035631  24912093    20501            9
3     10035631  27496788    20500            9
4     10035631  29462354    20500            9
5     10035631  29654498    20500            9
6     10070928  20163692    20500            9
7     10070928  20297201    20500            9
8     10070928  20721218    20500            9
9     10070928  22119100    20500            9
10    10070928  22640272    20500            9
11    10070928  22806066    20500            9
12    10070928  23763667    20500            9
13    10070928  24252929    20500            9
14    10070928  24657178    20500            9
15    10070928  24884243    20500            9
16    10070928  25823358    20500            9
17    10070928  26073385    20500            9
18    10070928  26097027    20500            9
19    10070928  26610133    20500            9
20    10070928  26639920    20500            9
21    10070928  26961908    20500            9
22    10070928  28254280    20500            9
23    10070928  28960799    20500            9
24    10070928  29299902    20500            9

In [81]:
nrows, ncols = diag_cml.shape[0].compute(), len(diag_cml.columns)

print(f"Shape: ({nrows}, {ncols})")

Shape: (3999, 4)

In [109]:
diag_cml = diag_cml.compute()
# diag_cml.to_csv(r"C:\Users\Yahya\Documents\GitHub\Internship\CSV_files\cml_diagnoses.csv", index=False)

In [110]:
cvd_diag_10 = diag[diag['icd_code'].str.startswith('I')]

In [111]:
cvd_9 = diag[diag['icd_code'].str.match(r'^\d')]
filtered_cvd_9 = cvd_9[(cvd_9['icd_code'].astype(float) >= 39000) & (icd9['icd_code'].astype(float) <= 45990)]

In [112]:
diag_cvd = dd.concat([filtered_cvd_9, cvd_diag_10])
diag_cvd = diag_cvd.reset_index(drop=True)

In [87]:
diag_cvd.head(25)

    subject_id   hadm_id icd_code  icd_version
0     10000032  29079034    45829            9
1     10000635  26134563    42789            9
2     10000690  23280645    42833            9
3     10000690  23280645    45981            9
4     10000690  25860671    42833            9
5     10000690  25860671    42731            9
6     10000690  25860671    42781            9
7     10000690  25860671    41401            9
8     10000690  25860671    45981            9
9     10000690  26146595    42832            9
10    10000690  26146595    42731            9
11    10000690  26504700    42833            9
12    10000690  26504700    45981            9
13    10000764  27897940    41071            9
14    10000764  27897940    41401            9
15    10000935  21738619    42789            9
16    10000935  25849114    42789            9
17    10000980  24947999    42823            9
18    10000980  24947999    40390            9
19    10000980  24947999    41401            9
20    10000980  24947999    44021            9
21    10000980  25242409    44021            9
22    10000980  25242409    45182            9
23    10000980  25242409    45342            9
24    10000980  25242409    42832            9

In [88]:
nrows, ncols = diag_cvd.shape[0].compute(), len(diag_cvd.columns)

print(f"Shape: ({nrows}, {ncols})")

Shape: (713394, 4)

In [113]:
adm = adm.compute()

In [90]:
adm.head(25)

    subject_id   hadm_id            admittime            dischtime
0     10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00
1     10000117  22927623  2181-11-15 02:05:00  2181-11-15 14:52:00
2     10000117  27988844  2183-09-18 18:10:00  2183-09-21 16:30:00
3     10000635  20642640  2143-12-23 14:55:00  2143-12-24 12:52:00
4     10000635  26134563  2136-06-19 14:24:00  2136-06-20 11:30:00
5     10000690  23280645  2150-09-16 19:48:00  2150-09-24 13:50:00
6     10000690  25860671  2150-11-02 18:02:00  2150-11-12 13:45:00
7     10000690  26146595  2152-01-28 23:40:00  2152-01-30 15:56:00
8     10000690  26504700  2150-07-03 02:46:00  2150-07-07 15:42:00
9     10000764  27897940  2132-10-14 23:31:00  2132-10-19 16:30:00
10    10000935  21738619  2187-07-11 13:06:00  2187-07-12 11:15:00
11    10000935  25849114  2187-10-10 19:09:00  2187-10-26 17:00:00
12    10000947  27880650  2121-05-09 10:02:00  2121-05-13 16:20:00
13    10000980  20897796  2193-08-15 01:01:00  2193-08-17 15:07:00
14    10000980  24947999  2190-11-06 20:57:00  2190-11-08 15:58:00
15    10000980  25242409  2191-04-03 18:48:00  2191-04-11 16:21:00
16    10000980  25911675  2191-05-23 15:33:00  2191-05-24 17:14:00
17    10000980  26913865  2189-06-27 07:38:00  2189-07-03 03:00:00
18    10000980  29654838  2188-01-03 17:41:00  2188-01-05 17:30:00
19    10000980  29659838  2191-07-16 14:21:00  2191-07-19 13:03:00
20    10001176  23334588  2186-11-29 03:56:00  2186-12-02 15:00:00
21    10001217  24597018  2157-11-18 22:56:00  2157-11-25 18:00:00
22    10001217  27703517  2157-12-18 16:58:00  2157-12-24 14:55:00
23    10001338  29335220  2141-07-07 11:22:00  2141-07-08 17:33:00
24    10001401  20144849  2136-11-20 14:20:00  2136-11-23 14:00:00

In [114]:
diag_cml = diag_cml.merge(adm, on=['subject_id', 'hadm_id'])
diag_cml = diag_cml.reset_index(drop=True)
diag_cvd = diag_cvd.merge(adm, on=['subject_id', 'hadm_id'])
diag_cvd = diag_cvd.reset_index(drop=True)
diag_cvd.head(25)

,subject_id,hadm_id,icd_code,icd_version,admittime,dischtime
0,10000032,29079034,45829,9,2180-07-23 12:35:00,2180-07-25 17:55:00
1,10000635,26134563,42789,9,2136-06-19 14:24:00,2136-06-20 11:30:00
2,10000690,23280645,42833,9,2150-09-16 19:48:00,2150-09-24 13:50:00
3,10000690,23280645,45981,9,2150-09-16 19:48:00,2150-09-24 13:50:00
4,10000690,25860671,42833,9,2150-11-02 18:02:00,2150-11-12 13:45:00
5,10000690,25860671,42731,9,2150-11-02 18:02:00,2150-11-12 13:45:00
6,10000690,25860671,42781,9,2150-11-02 18:02:00,2150-11-12 13:45:00
7,10000690,25860671,41401,9,2150-11-02 18:02:00,2150-11-12 13:45:00
8,10000690,25860671,45981,9,2150-11-02 18:02:00,2150-11-12 13:45:00
9,10000690,26146595,42832,9,2152-01-28 23:40:00,2152-01-30 15:56:00
10,10000690,26146595,42731,9,2152-01-28 23:40:00,2152-01-30 15:56:00
11,10000690,26504700,42833,9,2150-07-03 02:46:00,2150-07-07 15:42:00
12,10000690,26504700,45981,9,2150-07-03 02:46:00,2150-07-07 15:42:00
13,10000764,27897940,41071,9,2132-10-14 23:31:00,2132-10-19 16:30:00
14,10000764,27897940,41401,9,2132-10-14 23:31:00,2132-10-19 16:30:00
15,10000935,21738619,42789,9,2187-07-11 13:06:00,2187-07-12 11:15:00
16,10000935,25849114,42789,9,2187-10-10 19:09:00,2187-10-26 17:00:00
17,10000980,24947999,42823,9,2190-11-06 20:57:00,2190-11-08 15:58:00
18,10000980,24947999,40390,9,2190-11-06 20:57:00,2190-11-08 15:58:00
19,10000980,24947999,41401,9,2190-11-06 20:57:00,2190-11-08 15:58:00
20,10000980,24947999,44021,9,2190-11-06 20:57:00,2190-11-08 15:58:00
21,10000980,25242409,44021,9,2191-04-03 18:48:00,2191-04-11 16:21:00
22,10000980,25242409,45182,9,2191-04-03 18:48:00,2191-04-11 16:21:00
23,10000980,25242409,45342,9,2191-04-03 18:48:00,2191-04-11 16:21:00
24,10000980,25242409,42832,9,2191-04-03 18:48:00,2191-04-11 16:21:00

In [115]:
# Keep only columns we need
cml = diag_cml[['subject_id', 'admittime']].rename(columns={'admittime': 'cml_date'})
cvd = diag_cvd[['subject_id', 'admittime']].rename(columns={'admittime': 'cvd_date'})

In [118]:
if isinstance(cvd, dd.DataFrame):
    cvd = cvd.compute()
if isinstance(cml, dd.DataFrame):
    cml = cml.compute()

cml_cvd = cml.merge(cvd, on='subject_id', how='left')
cml_cvd = cml_cvd.reset_index(drop=True)

cml_cvd['has_future_cvd'] = (cml_cvd['cvd_date'] > cml_cvd['cml_date']).astype(int)

In [119]:
labels = cml_cvd.groupby('subject_id')['has_future_cvd'].max().reset_index()

In [120]:
diag_cml_labeled = diag_cml.merge(labels, on='subject_id', how='left')
diag_cml_labeled['has_future_cvd'] = diag_cml_labeled['has_future_cvd'].fillna(0).astype(int)

In [121]:
diag_cml_labeled.head(25)

,subject_id,hadm_id,icd_code,icd_version,admittime,dischtime,has_future_cvd
0,10035631,20385771,20500,9,2112-12-04 00:00:00,2112-12-27 16:24:00,1
1,10035631,22732862,20500,9,2112-11-10 15:55:00,2112-11-20 16:20:00,1
2,10035631,24912093,20501,9,2112-10-22 00:00:00,2112-10-28 12:16:00,1
3,10035631,27496788,20500,9,2113-08-26 17:07:00,2113-08-29 15:18:00,1
4,10035631,29462354,20500,9,2112-09-17 19:13:00,2112-10-17 01:41:00,1
5,10035631,29654498,20500,9,2113-07-17 17:15:00,2113-07-18 14:55:00,1
6,10070928,20163692,20500,9,2187-08-24 20:31:00,2187-09-05 17:50:00,1
7,10070928,20297201,20500,9,2187-01-08 22:57:00,2187-01-12 19:15:00,1
8,10070928,20721218,20500,9,2186-10-02 17:13:00,2186-10-06 14:45:00,1
9,10070928,22119100,20500,9,2187-08-21 09:41:00,2187-08-24 10:25:00,1
10,10070928,22640272,20500,9,2187-04-10 13:04:00,2187-04-13 15:30:00,1
11,10070928,22806066,20500,9,2187-05-28 13:46:00,2187-06-01 17:37:00,1
12,10070928,23763667,20500,9,2187-02-22 12:52:00,2187-02-25 14:00:00,1
13,10070928,24252929,20500,9,2188-02-28 12:09:00,2188-03-03 14:00:00,1
14,10070928,24657178,20500,9,2187-12-04 11:01:00,2187-12-09 19:00:00,1
15,10070928,24884243,20500,9,2187-01-31 15:09:00,2187-02-08 14:25:00,1
16,10070928,25823358,20500,9,2187-03-09 21:00:00,2187-03-14 14:20:00,1
17,10070928,26073385,20500,9,2187-04-27 22:19:00,2187-04-29 17:40:00,1
18,10070928,26097027,20500,9,2188-04-08 05:21:00,2188-04-11 16:40:00,1
19,10070928,26610133,20500,9,2187-07-17 12:03:00,2187-07-21 11:37:00,1
20,10070928,26639920,20500,9,2187-06-07 16:08:00,2187-06-17 14:31:00,1
21,10070928,26961908,20500,9,2186-04-06 10:57:00,2186-04-11 19:45:00,1
22,10070928,28254280,20500,9,2187-10-02 12:57:00,2187-10-05 18:00:00,1
23,10070928,28960799,20500,9,2187-11-16 13:00:00,2187-11-24 15:22:00,1
24,10070928,29299902,20500,9,2187-12-26 10:15:00,2187-12-29 17:30:00,1

In [124]:
cml_cvd['has_future_cvd'].value_counts()

1    30526
0    28728
Name: has_future_cvd, dtype: int64

In [126]:
cml_cvd.shape

(59254, 4)