In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import dask.dataframe as dd

In [15]:
diag = dd.read_csv('C:\\Users\\yahya\\Documents\\GitHub\\Internship\\CSV_files\\diagnoses_table.csv')

In [16]:
def detect_icd_version(code):
    code = str(code).strip().upper()
    return 10 if code and code[0].isalpha() else 9

# Apply to your DataFrame
diag['icd_version'] = diag['icd_code'].apply(detect_icd_version)

c:\Users\Yahya\Documents\GitHub\Internship\venv\lib\site-packages\dask\dataframe\core.py:3778: UserWarning:


You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('icd_code', 'int64'))

In [17]:
diag.head(10)

   subject_id   hadm_id icd_code  icd_version
0    10000032  29079034    45829            9
1    10000032  29079034    07044            9
2    10000032  29079034     7994            9
3    10000032  29079034     2761            9
4    10000032  29079034    78959            9
5    10000032  29079034     2767            9
6    10000032  29079034     3051            9
7    10000032  29079034      V08           10
8    10000032  29079034    V4986           10
9    10000032  29079034     V462           10

In [18]:
adm = dd.read_csv('C:\\Users\\Yahya\\Documents\\GitHub\\Internship\\CSV_files\\admissions_table.csv')

In [19]:
adm.head(10)

   subject_id   hadm_id            admittime            dischtime
0    10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00
1    10000117  22927623  2181-11-15 02:05:00  2181-11-15 14:52:00
2    10000117  27988844  2183-09-18 18:10:00  2183-09-21 16:30:00
3    10000635  20642640  2143-12-23 14:55:00  2143-12-24 12:52:00
4    10000635  26134563  2136-06-19 14:24:00  2136-06-20 11:30:00
5    10000690  23280645  2150-09-16 19:48:00  2150-09-24 13:50:00
6    10000690  25860671  2150-11-02 18:02:00  2150-11-12 13:45:00
7    10000690  26146595  2152-01-28 23:40:00  2152-01-30 15:56:00
8    10000690  26504700  2150-07-03 02:46:00  2150-07-07 15:42:00
9    10000764  27897940  2132-10-14 23:31:00  2132-10-19 16:30:00

In [21]:
diag_df = diag.merge(adm, on=['subject_id', 'hadm_id'])
diag_df = diag_df.sort_values(by="subject_id")

In [24]:
diag_df = diag_df.reset_index(drop=True)

In [25]:
diag_df.head(25)

,subject_id,hadm_id,icd_code,icd_version,admittime,dischtime
0,10000032,29079034,45829,9,2180-07-23 12:35:00,2180-07-25 17:55:00
1,10000032,29079034,5715,9,2180-07-23 12:35:00,2180-07-25 17:55:00
2,10000032,29079034,496,9,2180-07-23 12:35:00,2180-07-25 17:55:00
3,10000032,29079034,V462,10,2180-07-23 12:35:00,2180-07-25 17:55:00
4,10000032,29079034,V4986,10,2180-07-23 12:35:00,2180-07-25 17:55:00
5,10000032,29079034,V08,10,2180-07-23 12:35:00,2180-07-25 17:55:00
6,10000032,29079034,29680,9,2180-07-23 12:35:00,2180-07-25 17:55:00
7,10000032,29079034,2767,9,2180-07-23 12:35:00,2180-07-25 17:55:00
8,10000032,29079034,78959,9,2180-07-23 12:35:00,2180-07-25 17:55:00
9,10000032,29079034,2761,9,2180-07-23 12:35:00,2180-07-25 17:55:00
10,10000032,29079034,7994,9,2180-07-23 12:35:00,2180-07-25 17:55:00
11,10000032,29079034,07044,9,2180-07-23 12:35:00,2180-07-25 17:55:00
12,10000032,29079034,3051,9,2180-07-23 12:35:00,2180-07-25 17:55:00
13,10000117,27988844,K219,10,2183-09-18 18:10:00,2183-09-21 16:30:00
14,10000117,27988844,E7800,10,2183-09-18 18:10:00,2183-09-21 16:30:00
15,10000117,27988844,I341,10,2183-09-18 18:10:00,2183-09-21 16:30:00
16,10000117,27988844,G43909,10,2183-09-18 18:10:00,2183-09-21 16:30:00
17,10000117,27988844,F419,10,2183-09-18 18:10:00,2183-09-21 16:30:00
18,10000117,27988844,Z87442,10,2183-09-18 18:10:00,2183-09-21 16:30:00
19,10000117,27988844,M810,10,2183-09-18 18:10:00,2183-09-21 16:30:00
20,10000117,27988844,Z7901,10,2183-09-18 18:10:00,2183-09-21 16:30:00
21,10000117,27988844,Y92480,10,2183-09-18 18:10:00,2183-09-21 16:30:00
22,10000117,27988844,Z87891,10,2183-09-18 18:10:00,2183-09-21 16:30:00
23,10000117,27988844,Y93K1,10,2183-09-18 18:10:00,2183-09-21 16:30:00
24,10000117,22927623,M810,10,2181-11-15 02:05:00,2181-11-15 14:52:00

In [30]:
nrows, ncols = diag_df.shape[0].compute(), len(diag_df.columns)

print(f"Shape: ({nrows}, {ncols})")

Shape: (5071195, 6)

In [31]:
import plotly.express as px
import streamlit as st

icd_count = diag['icd_code'].value_counts()
top_20_diag = icd_count.head(20)
top_20_df = top_20_diag.reset_index()
top_20_df.columns = ['icd_code', 'count']

st.header("Top 20 Diagnoses")

fig = px.bar(
    top_20_df,
    x='icd_code',
    y='count',
    title="Top 20 Diagnoses by Count",
    labels={'icd_code': 'ICD Code', 'count': 'Count'}
)

st.plotly_chart(fig, use_container_width=True)

AttributeError: 'function' object has no attribute 'values'

In [12]:
import streamlit as st
import pandas as pd
import plotly.express as px

# Load your combined CSV or DataFrame
df = diag_df.copy()

st.title("Visualization Patient Data MIMIC-IV dataset")

# Optional: filter by subject_id or hadm_id
subject_ids = df['subject_id'].unique()
selected_subject = st.selectbox("Select Subject ID", subject_ids)

filtered_df = df[df['subject_id'] == selected_subject]

# Create timeline plot

st.header("Timeline Plot")

fig = px.timeline(
    filtered_df,
    x_start="admittime",
    x_end="dischtime",
    y="icd_code",
    color="icd_version",
    title=f"ICD Diagnosis Timeline for Subject {selected_subject}",
    hover_data=["hadm_id"]
)

fig.update_yaxes(autorange="reversed", type='category')  # Timeline style
st.plotly_chart(fig, use_container_width=True)

AttributeError: 'function' object has no attribute 'values'